body{
	background: #CCC8C8;
}
aside{

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #224E73;
  overflow-x: hidden;
  padding-top: 10px;
  width: 245px;
/*  height: 945px;*/
    min-height: 100vh;
}
.sidebar {
 
}

.sidebar a {
/*
  padding: 12px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  color: white;
  opacity: 0.7;
  font-family:Open Sans,Regular;
  letter-spacing: 0px;
*/
}

.sidebar a:hover {
  color: #f1f1f1;
 text-decoration: none;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.wrapper{
	display: inline-flex;
    width: 100%;
}
.cst-rw1{
	
/*	height: 58px;*/
	background: #FFFFFF 0% 0% no-repeat padding-box;
	opacity: 1;
    min-height: 72px;
}
.cst-container{
	width: calc(100vw - 245px);
    margin: auto;
    margin-left: 245px;
}
.vl {
  border-left: 6px solid green;
  height: 20px;
}
.cst-p1{
/*
   font-family: Open Sans,Regular;
    font-size: 16px;
    color: #505D6B;
    margin-top: 22px;
*/
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #9F9F9F;
    opacity: 1;
      margin-top: 22px;
}
.cst-c1{
	text-align: end;
}
.button {
     border: none;
    color: white;
    padding: 6px 15px 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 11px 2px;
    cursor: pointer;
    background: #814CAF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    font-family: Open Sans,Regular;
    height: 50px;
}
.cst-rw2{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 4px 20px #00000029;
	border: 1px solid #9F9F9F;
	border-radius: 8px;
	opacity: 1;
}
.cst-c2{
	background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 20px #00000029;
    border: 1px solid #9F9F9F;
    border-radius: 6px;
    opacity: 1;
    margin-top: 22px;
    padding: 3px 22px;
}
.button2 {
    border: 1px solid #0084BF;
    color: #9F9F9F;
    background: white;
/*
    padding: 6px 6px 6px 12px;
    text-align: center;
*/
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 16px 2px;
    cursor: pointer;
    border-radius: 6px;
    opacity: 1;
    font-family: Open Sans,Regular;
    height: 50px;
    box-shadow: inset 0px 1px 6px #00000029;
    font: normal normal normal 16px/30px Open Sans;
    letter-spacing: 0.15px;
    color: #9F9F9F;
    opacity: 1;
    min-width: 147px;
    position: relative;
    text-align: left;
}

.cst-c3{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 20px #00000029;
    border: 1px solid #9F9F9F;
    border-radius: 8px;
    opacity: 1;
    margin-top: 22px;
    padding: 25px;
    height: calc(100vh - 380px);
    overflow: auto;
}
.cst-tr{
	color: #6B6C6D;
/*    font-size: 18px;*/
    font-family: 'Open Sans';
}
.table td{
	color: #6B6C6D;
    font-size: 16px;
	}
.cst-c4{
	background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 20px #00000029;
    border: 1px solid #9F9F9F;
    border-radius: 8px;
    opacity: 1;
    margin-top: 22px;
    padding: 15px;
}
.pagination a {
     color: #B5B5B5;
    float: center;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 10px;
    padding: 13px;
    font-size: 13px;
}
.pagination{
	text-align:center;
	display: block;
}
.pagination a.active {
  background-color: #0084BF;
  color: white;
  padding: 13px;
}

.pagination a:hover:not(.active) {background-color:#0084BF;}

.cst-c5{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 4px 20px #00000029;
	border: 1px solid #9F9F9F;
	opacity: 1;
/*
	margin-top: 30px;
	padding: 20px;
*/
    position: fixed;
    bottom: 0px;
}
.cst-p2{
	font-size: 15px;
	font-family: Open Sans,Regular;
	color: #606060;
	margin-top: 15px;
}
.w-40{
    width: 40% !important;
}
.green-plus-top{
    position: relative;
    top: 12px
}
.search{
/*
	background: #F8F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 20px #00000029;
    border: 1px solid #2196f3;
    border-radius: 5px;
    opacity: 1;
	width: 400px;
	height: 30px;
*/
    
/*
    background: #F8F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 20px #00000029;
*/
        box-shadow: inset 1px 3px 6px #00000029;
    border: 1px solid #2196f3;
    border-radius: 5px;
    opacity: 1;
    width: 25%;
    height: 40px;
    position: relative;
    top: 2px;
    padding-left: 7px;
    margin: 10px 0px;
}
.cst-span{
	    padding-left: 10px;
}
.cst-tr1{
	background: #2ecff83b 0% 0% no-repeat padding-box;
    opacity: 0.9;
}
.cst-h1{
	font: normal normal 600 18px/30px Open Sans;
	letter-spacing: 0.17px;
	color:#6B6C6D;
	opacity: 1;
}
.cst-tr2{
	background: #2ecff83b;
	color:#2196F3;
/*	opacity:0.7;*/
}
.cst-tr3{
	background:#2ecff83b;
	color:#2196F3;
/*	opacity:0.7;*/
	font-family: open sans regular;
} 

.top-left-logo{
    text-align: center;
}
.top-left-logo img{
    max-height: 39px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.left-link-wrapper{
    padding: 20px;
    padding-left: 27px;
    padding-right: 5px;
    padding-top: 0px;
}
.dashboard-heading-1 span{
    color: #FFFFFF;
    opacity: 0.3;
}
.dashboard-heading-1 i{
    color: #2196F3;
    opacity: 0.3;
    width: 21px;
}
.devices-heading{
    margin-top: 30px;
}
.devices-heading span{
    text-align: left;
    font: normal normal bold 15px/19px Open Sans;
    letter-spacing: 0.72px;
    color: #719DB1;
}

.dashboard-heading-sub{
    margin-top: 20px;
}
.dashboard-heading-sub img{
/*    max-width: 19px;*/
}
.dashboard-heading-sub span{
/*        font: normal normal 600 16px/22px Open Sans;*/
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 10px;
    position: relative;
    top: 3px;
    opacity: 0.7;
    font-size: 16px;
/*
    font-weight: semi-bold;
    font-weight: 600;
*/
    font-family: 'Open Sans';
}
.dashboard-heading-sub span.active{
/*    font: normal normal 600 16px/22px Open Sans;*/
    letter-spacing: 0px;
    color: #00EBEB;
    opacity: 1;
    margin-left: 10px;
    position: relative;
    top: 3px;
    font-size: 16px;
        font-weight: 600;
}

.dashboard-heading-sub i{
    color: #FFFFFF;
    opacity: 0.3;
    font-size: 18px;
    width: 22px;
}

.dashboard-heading-sub span.emergency {
    top: 0;
    color: #FFFFFF;
    opacity: 0.3;
}
table th, .table th{
    font-size: 18px;
    font-weight: 600;
}
.table td, .table th {
/*    padding: .45rem !important;*/
    padding-left: 22px;
    padding-right: 22px;
}
.table-borderless .tr1{
    background: #2196f30a;
}

.minus-img{
    height: 30px;
    width: 30px;
}

table{
    border-collapse: separate;
    border-spacing: 0 0.2em;
}
.green-plus{
     width: 50px;
    height: 50px;
    /* margin-top: 8px; */
    cursor: pointer;
    margin: 0 10px;
}

.modal-full {
    min-width: 20%;
    margin-left: 80;
}

.modal-full .modal-content {
    min-height: 100vh;
}
.cst-modal-div{
    min-height: 100%;
    display: flex;
    align-items: center;
}
.cst-modal-content{
    background: #ffffff5e !important;
    border: 1px solid rgb(255 255 255 / 35%);
    /*    min-width: 620px;*/
    padding-bottom: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 20px #00000029;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    opacity: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
}
.button2 span{
    position: relative;
    left: 5px;
}
.modal-header{
    border-bottom: none;
}

.button1 img{
    width: 18px;
    height: 18px;
    margin-left: 10px;
}

button:focus{
    outline: none;
}
.button2:focus{
    border-color: #4CAF50;
}

input.search:focus{
     border-color: #4CAF50 !important;
}
.button1 span{
    position: relative;
    top: 1px
}
.modal-type-input{
   
    border: 1px solid #114b7a;
    color: #9F9F9F;
    background: white;
    padding: 6px 15px 8px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 16px 2px;
    cursor: pointer;
    border-radius: 6px;
    opacity: 1;
    font-family: Open Sans,Regular;
    height: 46px;
    box-shadow: inset 4px 5px 6px #00000029;
}
.cst-form-group{
    position: relative;
    text-align: center;
}
.input-inner-img{
    position: absolute;
    right: 10px;
    top: 27px;
}

.input-type-cst{
    width: 125px;
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

input.search-condition:focus-within{
    outline: none;
}
select {
        /* for Firefox */
        -moz-appearance: none;
        /* for Safari, Chrome, Opera */
        -webkit-appearance: none;
      }

.width-40{
    width: 200px !Important;
}

.add-now{
    border: none;
    background: #4CAF50;
    height: 45px;
    border-radius: 5px;
    width: 100%;
    color: white;
    position: relative;
    top: 1px;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.add-now i{
    margin-left: 10px;
    font-weight: 600;
    opacity: 0.7;
}
.table td, .table th{
    font-weight: 600 !important;
    vertical-align: middle;
    
}

.search-condition{
    width: 539px;
    height: 50px;
    box-shadow: inset 0px 3px 6px #00000029;
    border: 1px solid #0084BF;
    border-radius: 8px;
    opacity: 1;
}
.w-70{
    width: 70%;
}
.width-140{
    width: 140px !important;
}

.width-280{
    width: 280px;
}

.import-add-btn{
    width: 18px;
    height: 18px;
}

.top-input-circle-dropdown{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 11px;
}

.filter-icon{
    width: 45px;
    height: 45px;
    position: relative;
    top: -1px;
}

.open-nav-cst{
    display: none;
}


.cst-pagination .row-pagination{
    background: #DEDEDE 0% 0% no-repeat padding-box;
    border-radius: 20px;
/*    opacity: 0.58;*/
    max-width: 350px;
    margin: auto;
    padding: 4px;
    position: relative;
}
.row-pagination a{
    font: normal normal bold 18px/30px Open Sans;
    letter-spacing: 0.17px;
    color: #FFFFFF;
    opacity: 1;
}
.cst-pagination a{
    color: inherit;
    text-decoration: none;
    margin-left: 0px;
    padding: 14px 10px;
    border-radius: 8px;
    font: normal normal 600 16px/30px Open Sans;
    letter-spacing: 0.15px;
    color: #B5B5B5;
    opacity: 1;
}

.cst-pagination a.active{
    background: #2196f3;
    color: white;
}
.cst-pagination a.active:hover{
    color: white;
}
.cst-pagination a:hover{
    text-decoration: none;
     color: #B5B5B5;
}
.row-pagination span{
    position: absolute;
}

.row-pagination .circle-left{
    left: -50px;
    border-radius: 50px;
    background: #dedede;
    padding: 3px;
    top: 0px;
}
.row-pagination .circle-left img{
    position: relative;
    top: -2px;
    left: -1px;
}
.row-pagination .circle-right{
    right: -50px;
    border-radius: 50px;
    background: #dedede;
    padding: 3px;
    top: 0px;
}
.row-pagination .circle-right img{
     position: relative;
    top: -2px;
    right: -1px;
}
.cst-p1 strong{
    font: normal normal bold 20px/27px Open Sans;
    letter-spacing: 0px;
    color: #505D6B;
    opacity: 1;
}
.button span{
    min-width: 40px;
}

#exampleModal{
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}
.modal-title{
    font: normal normal bold 20px/27px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.modal-title small{
    font-size: 16px !Important;
    font-weight: 400;
}

.table td{
    font: normal normal normal 16px/30px Open Sans;
letter-spacing: 0.15px;
color: #6B6C6D;
opacity: 1;
}
/*
---------------------------------------------------------------------------------------------------------------
                                               Responsive Styling
---------------------------------------------------------------------------------------------------------------
*/


@media screen and (max-width: 1400px) {
    aside{
        position: absolute;
    }
}
@media screen and (max-width: 1080px) {
  .button2 {
     border: 1px solid #0084BF;
    color: #9F9F9F;
    background: white;
    padding: 6px 6px 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 16px 2px;
    cursor: pointer;
    border-radius: 6px;
    opacity: 1;
    font-family: Open Sans,Regular;
    height: 40px;
    box-shadow: inset 0px 1px 6px #00000029;
  }
    .cst-rw1{
        height: auto;
    }
    .cst-p1{
        font-size: 12px;
    }
    .button{
        font-size: 10px;
    }
    .table td, .table th {
    padding: .25rem !important;
        font-size: 12px;
    }
    .top-input-circle-dropdown{
        height: 20px;
        width: 20px;
        margin-left: 10px;
    }
    
}



@media screen and (max-width: 900px) {
        aside{
        width: 165px;
    }
    .cst-container {
    width: calc(100vw - 165px);
    margin: auto;
    margin-left: 165px;
}
    .footer-upper{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 792px) {
    .top-input-circle-dropdown{
        width: 15px;
        margin-left: 2px;
    }
    .filter-icon{
        width: 30px;
    }
    .minus-img {
        height: 15px;
        width: 15px;
    }
    .table td, .table th{
        font-size: 10px;
    }

    .top-left-logo img{
        max-height: 25px;
    }
    .dashboard-heading-1{
        font-size: 12px;
    }
    .devices-heading span{
        font-size: 12px;
    }
    .dashboard-heading-sub img {
        max-width: 14px !important;
    }
    .dashboard-heading-sub{
        margin-top: 10px;
    }
    .dashboard-heading-sub span{
        top: 1px;
        font-size: 10px;
    }
    .dashboard-heading-sub span.active{
        top: 1px;
        font-size: 10px;
    }
    aside{
        display: none !Important;
    }
 
     .cst-container {
    width: 100vw;
    margin: auto;
    margin-left: 0;
}
    .cst-c1{
        text-align: left;
    }
    
    .button2{
    padding: 2px;
    font-size: 10px;
    margin: 4px 2px;
    border-radius: 3px;
    height: 26px;
    box-shadow: inset 0px 1px 6px #00000029;
}
    
    .cst-c3{
        padding: 25px 5px;
    }
    
    .pagination{
        margin-bottom: 50px;
    }
    .open-nav-cst{
        display: inline-block;
    color: white;
    background: #2196f3;
    padding: 8px 15px;
    border-radius: 5px;
    position: relative;
    top: 11px;
    float: right
}
}




.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
/*
  padding: 8px;
  text-decoration: none;
*/
  font-size: 12px;
  color: #818181;
 
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}